@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
}

.background {
  height: 100vh;
  background: linear-gradient(
    0deg,
    rgba(101, 101, 231, 1) 0%,
    rgba(175, 103, 233, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

/*change height to auto when implementing anime*/
.container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  background: white;
  height: 515px;
  width: 920px;
  border-radius: 1.5em;
  overflow: hidden;
}

.logo {
  position: absolute;
}

.shadow {
  margin-right: 520px;
  top: -300px;
}

.hero {
  top: 15%;
  left: 0;
  margin-left: -75px;
}

.box {
  top: 100px;
  left: -85px;
}

.card {
  background: pink;
  width: 350px;
  margin: 3em;
}

h1 {
  font-size: 33px;
}

.drop {
  font-size: 12px;
}

.question {
  font-weight: 700;
}

.answer {
  font-weight: 400;
}
