@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
}

.background {
  height: 100vh;
  background: linear-gradient(
    0deg,
    rgba(101, 101, 231, 1) 0%,
    rgba(175, 103, 233, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

/*change height to auto when implementing anime*/
.container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  background: white;
  height: 515px;
  width: 920px;
  border-radius: 1.5em;
  overflow: hidden;
  -webkit-box-shadow: 0 5rem 5rem -10px rgba(0, 0, 0, 0.25);
  box-shadow: 0 5rem 5rem -10px rgba(0, 0, 0, 0.25);
}

.show {
  position: relative;
}

.box {
  top: 213px;
  left: -95px;
  z-index: 2;
}

.logo {
  position: absolute;
}

.shadow {
  margin-right: 520px;
  top: -300px;
}

.hero {
  top: 15%;
  left: 0;
  margin-left: -80px;
}

.card {
  width: 370px;
  margin: 2.7em 5em;
  overflow-y: scroll;
}

h1 {
  font-size: 33px;
  margin-bottom: 1.7rem;
}

.question {
  font-size: 14px;
  line-height: 2.7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.question::after {
  content: '';
  display: block;
  background-image: url('/images/icon-arrow-down.svg');
  width: 0.625rem;
  height: 1rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  margin-right: 1.5rem;
  transition: transform 200ms ease-in-out;
}

.question.open::after {
  transform: rotate(180deg);
}

.question:hover {
  color: hsl(14, 88%, 65%);
  cursor: pointer;
}

.open {
  font-weight: 700;
}

.answer {
  font-size: 13px;
  color: hsl(240, 6%, 50%);
  font-weight: 400;
  margin-bottom: 1.3rem;
}

.hide {
  display: none;
}

hr {
  border: 0;
  border-top: 1px solid hsl(240, 5%, 91%);
}
